<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Risk Aversion Core GraphQL Gateway
            </h1>
            <h2 class="subtitle">
                A Quick Primer
            </h2>
        </div>
    </div>
</section>
<section class="section">

    <div class="container">
        <h1 class="title">Introduction</h1>
        <div class="content is-small">
            <h2 class="subtitle mb-2">
                What is this?
            </h2>
            <p>
                <strong>Risk Aversion</strong> is a solution to a frequent problem with new retail traders.
                Often, a new trader will decide they want to test their skills in the stock market. They may
                have a good portion of disposable income. Usually, their efforts result in the following
                scenario:
            </p>
            <ol type="1">
                <li>Newbie trader deposits $5000 into a trading account with their favorite online broker.</li>
                <li>Newbie watches a few videos on YouTube that teach shortcuts to beating the market.</li>
                <li>
                    Convinced they have the knowledge necessary to compete with the market, the newbie identifies
                    "the trading opportunity of a lifetime". An undervalued APPL stock right before the release of
                    the newest iPhone.
                </li>
                <li>
                    Confident in their abilities and analysis, they buy a stock with half of their account
                    <ul>
                        <li>15 stocks of APPL for a total of $2500</li>
                    </ul>
                </li>
                <li>The newbie goes to sleep, eager to wake up and sell their stocks for a 10x profit</li>
                <li>
                    Newbie awakens to find that Apple released the IPhone in the United Kingdom first
                    several hours ahead of their own timezone in America. Reviews from UK Tech Blogs have
                    spent the last 4 hours bashing the new iPhone for its lack of a home button.
                </li>
                <li>
                    Newbie checks the current value of their portfolio to see that their $2500 of APPL stock
                    is now worth $1200, as the stock dropped more than 50%.
                </li>
            </ol>
            <p>
                Situations like this can be avoided if new traders become aware of proper risk management
                strategies. There's no point in doubling your portfolio if you're just going to lose it
                the next day.
            </p>
            <blockquote>
                Your wins should outweigh your losses, and you'll probably lose more than you'll win
            </blockquote>
        </div>
    </div>
</section>
</body>
</html>